h1{
    color:#0B346E
    width:500px;
    text-align:center;
}
p{
    color:#261E47
    text-align:center;
}
h2{
    color:#0B346E
    width:500px;
    text-align:center;
}
h3{
    color:#0B346E
    width:500px;
    text-align:center;
}
